* {
    margin: 0;
    padding: 0;
}

.concaveLogo {
    width: 150px;
    height: 180px;
    border: 6px solid black;
    border-radius: 0% 0% 50% 50% / 24% 24% 76% 76%;
    background-color: red;
    position: relative;
}

.logoconcavee {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimg img {
    width: 90px;
    height: 90px;
    margin: 0;
}